{% extends "base.html" %}
{% block content %}

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- for d3 legends -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.13.0/d3-legend.js"></script>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <!-- <div class="col-lg-8 col-md-10 mx-auto"> -->
          <div class="col-md-10 mx-auto">

<p style="color: red;">Dont forget to turn off debug flask</p>
<!-- TODO: migrate style touches! --> 
<style> 
.d3axis { font-size: 14px; font-weight: 300; }
</style>

<h2 class="section-heading">Summary</h2>

<p>
While crime in Chicago has generally decreased dramatically over the last 15 years, how is the progress distributed among the population? How is it distributed among the type of crime? These questions are the motivation for the investigations outlined below, where we analyze overall crime through time in the city, and how the "crime inequality" in the city as varied since the early 2000's.
<p>

<p>
We measure "Crime Intensity" in Chicago since 2002 broken into its major categories: Property Crime, Violent Crime, and Crime Against Society. We will soon elaborate more on "Crime Intensity", but for now think of it as:
</p>
 <blockquote style="text-align: center;">Crime Intensity = (# years served) / person if average prison sentence served in full for every crime reported</blockquote>

<p>
In line with the generally known reduction in crime, this analysis indeed shows a decline in crime by a marked 30% over the last 15 years (though there has also been a slight resurgence over the last few years). Feel free to explore the data in the figure below.
</p>

            <svg width="600" height="600" id="crime_type_svg" style="margin-left: auto; margin-right: auto; display: block;"></svg>
            <script type="text/javascript" src="static/js/d3viz/crime_type_summary.js"></script>

<p>
However, while crime has fallen, it has not fallen uniformly throughout the city. In fact, those feeling the worst crime are feeling a higher fraction now than they have in the past. By looking at how crime is distributed geographically throughout the city, we can get a sense of how concentrated crime is over time. 
</p>

<p>
Again, the nature of this measurement will be elaborated below, but the signal can be seen when clearly looking at how much crime is felt by the worst quintie (worst 20%) as compared to the safest quintile. Among all crimes ("Total") since 2002, crime concentration among the worst areas went from 4.5x that of the safest areas to 5.5x. This was mainly driven by an increase in Property Crime concentration.
</p>

<p>
This can be explored in the figure below by clicking the different categories in the legend.
</p>
            
            <svg width="600" height="300" id="crime_worst_pct_svg" style="margin-left: auto; margin-right: auto; display: block;"></svg>

            <script type="text/javascript" src = "static/js/d3viz/crime_concentration_summary.js"></script>

            <h2 class="section-heading">Sizing Up a Crime</h2>
            <ul>
                <li> Discussion about how to look at crimes: severity of crime and per person 
                <li> Discuss data sourcing: intensity and population
                <li> table of crime intensity
                <li> discussion: what does intensity measure
                <li> Example of murder versus disorderly conduct of count versus weighted
                <li> How did I get weights
            </ul>
            
            <h2 class="section-heading">Crime Overview</h2>
            <ul>
                <li> Rolling mean to avoid seasonality
                <li> Graph of total to category to FBI code name
                <li> Effects of income
                <li> Effects of race
            </ul>
            
            <h2 class="section-heading">Crime Inequality</h2>
            <ul>
                <li> How to determine inequality: who is impacted and geographic proxy
                <li> What is the Gini coefficient: top x% crime scroller
                <li> [Optional] Analysis of time of day?
            </ul>
            
            <h2 class="section-heading">Explore the City</h2>
            <ul>
                <li> Plot of crime versus income now and in past + diff
                <li> Geography graph
                <li> Auto text: Crime summary + change, race, income changes
            </ul>
            
            <h2 class="section-heading">Next Steps</h2>
            <ul>
                <li> Holistic measurements of wealth, including real estate value, foreclosures + how to source it
                <li> Effects of education + how to source it
                <li> Better measurement of income + how to source it (IRS)
                <li> Get a better measure of crime severity + how to source it
            </ul>

            <h2 class="section-heading">Data Sources and Source Code</h2>
            <ul>
                <li> Link to github source
                <li> Explanations of major data sourcing
            </ul>
            
            <h2 class="section-heading">Related Work Investigating Crime in Chicago</h2>
            <ul>
                <li> <a href="http://crime.chicagotribune.com/">http://crime.chicagotribune.com/</a>
                <li> <a href="http://www.chicagohealthatlas.org/">http://www.chicagohealthatlas.org/</a>
                <li> <a href="http://convictions.smartchicagoapps.org/">http://convictions.smartchicagoapps.org/</a>
                <li> <a href="http://tableaupicasso.com/chicago-crime-scene/">http://tableaupicasso.com/chicago-crime-scene/</a>
            </ul>

<!--

            <blockquote>The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>

            <a href="#">
              <img class="img-fluid" src="static/img/post-sample-image.jpg" alt="">
            </a>
            <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>

            <p>Placeholder text by
              <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
              <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
-->
          </div>
        </div>
      </div>
    </article>
{% endblock %}
