{% extends "base.html" %}
{% block content %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="chicago">
              <h2 class="post-title">
                Crime in Chicago
              </h2>
              <h3 class="post-subtitle">
                An analysis of crime inequality over time
              </h3>
            </a>
            <p class="post-meta">By
              <a href="#">Jake Ellowitz</a>
            </p>
          </div>

          <!-- Pager -->
          <!--
          <div class="clearfix">
            <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
          </div>
          -->
        
        </div>
      </div>
    </div>
{% endblock %}
